.Header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15vh;
}

.SideHeader{
	display: flex;
	cursor: pointer;
}

.SideHeader img{
	min-width: 80% !important;
  max-width: 80% !important;
  min-height: 70% !important;
  max-height: 70% !important;
}

.Contact {
	text-transform: uppercase;
	color: #2d4e7e;
	font-weight: 500;
	letter-spacing: 2px;
}

.Logo{
	color: #395B64;
	font-size: 28px;
}
