.HomeContainer {
  height: 100vh;
}

.WrapperHome{
  height: calc(100vh - 30vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Heading{
  font-size: calc(90/688*100vh);
  line-height: calc(96/688*100vh);
  letter-spacing: calc(40/688*100vh);
  color: #3EC1D3;
  text-align: center;
}

.text {
  color: transparent;
  display: inline-block;
  border-radius: 3px;
  background-color: #1d3557;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
}

.text:before {
  content: attr(data-title);
  background: linear-gradient(90deg, #f58915 0%, #fd1d1d 51%, #1d3557 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 1s ease-in-out;
  animation: text-animation 3s both;
}

@keyframes text-animation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.TabList{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-bottom: 12px;
  z-index: 2;
}

.Deliver{
  width: 2px;
  height: calc(24/688*100vh);
  background: #6bcce5;
  margin: 0 40px;
}

.TabItem{
  cursor: pointer;
}

.TabName{
  color: #091d3b;
  letter-spacing: calc(8/688*100vh);
  margin-right: calc(-8/688*100vh);
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  line-height: calc(32/688*100vh);
  opacity: .6;
  transition: opacity .5s ease-in-out;
  font-weight: 500;
  position: relative;
  display: flex;
}

.TabName .FirstLetter{
  color: #FD5959;
  font-weight: 700;
}

.TabName .SecondLetter{
  color: #FF9400;
  font-weight: 700;
}

.TabName .ThirdLetter{
  color: #3EC1D3;
  font-weight: 700;
}

.TabName .FourLetter {
  color: #2C3639;
  font-weight: 700;
}

.TabItem:hover .TabName {
  opacity: 1;
}

.TabName span {
  display: inline-block;
}

.TabItem:hover .TabName span.Light {
  opacity: 1;
  transition: opacity .7s ease-out;
}

.TabItem .TabName span.Light {
  font-weight: 600;
  opacity: 1;
  transition: opacity .7s ease-out;
  overflow: hidden;
}

.TabContent{
  text-align: center;
}

.HeadingTwo{
  font-size: calc(50/688*100vh);
  letter-spacing: calc(60/688*100vh);
  text-align: center;
  text-transform: uppercase;
  color: #395B64;
}
